mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

table {
  width: 100%;
}

.loading-spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}
