/* Importando um tema padrão do Angular Material (Isso corrige as cores dos componentes) */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    /* Força o fundo branco e texto escuro para garantir legibilidade */
    background-color: #fafafa;
    color: #333;
}
